
.profile__content .info {
  border-top: 1px solid #eee;
}

.profile__content .row {
  display: grid;
  grid-template-columns: 150px 1fr auto;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
  align-items: center;
}

.profile__content .row span:first-child {
  color: #777;
}

.link-btn {
  background: none;
  border: none;
  color: #ff6b2c;
  cursor: pointer;
  text-decoration: none;
}

.profile__content .actions {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.primary {
  background: #ff6b2c;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  align-items: center;
  gap: 6px;
}

.content-header .outline {
  border: 1px solid #ff6b2c;
  color: #ff6b2c;
  background: transparent;
  padding: 10px 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.outline .icon {
  width: 18px;
  height: 18px;
}

.profile .user p {
  color: #888 !important;
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.content-header h2 {
  margin-bottom: 5px;
}

.content-header p {
  margin: 0;
  color: #888;
}
/* avatar */
.avatar-row {
  align-items: flex-start;
}

.avatar-box {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.avatar-box img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-link {
  padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 8px 0 12px;
    font-size: 14px;
}