.table_manager {
  padding: 1.5rem 1.4rem 2rem;
  min-height: 30rem;
}

/* FILTER TABS */
.tabs {
  display: flex;
  gap: 6px;
  margin-bottom: 2rem;
}

.tabs button {
  border: none;
  padding: 5px 10px;
  background: #eef1f6;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
}

.tabs .active {
  background: var(--primary-color);
  color: #fff;
}

/* FILTER RADIO */
.filters {
  display: flex;
  gap: 14px;
  font-size: 12px;
  color: #555;
  padding-bottom: 2rem;
}

.filters label {
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  margin-left: 1rem;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 14px;
}

.table {
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}

.shape {
  width: 56px;
  height: 34px;
  border: 2px solid #90caf9;
  border-radius: 8px;
  margin: 0 auto 4px;
}

.table.selected .shape {
  background: var(--primary-color);
  border-color: var(--primary-color);
}

/* PAGINATION */
.menu-pos .pagination,
.table_manager .pagination {
  margin-top: 3rem !important;
}

/* đang chọn */
.table.selected .shape {
  background: #eb6b2d;
  border-color: #eb6b2d;
}

/* có món chờ xác nhận */
.table.pending .shape {
  background: #ffd54f;
  border-color: #ffd54f;
}

/* đã xác nhận order */
.table.confirmed .shape {
  background: #4caf50;
  border-color: #4caf50;
}

/* đang chọn ưu tiên màu cam */
.table.selected .shape {
  background: #eb6b2d !important;
  border-color: #eb6b2d !important;
}

.table-menu-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.2);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 999;
}

.table-menu {
  width: 220px;

  background: white;

  border-radius: 16px;

  padding: 12px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  box-shadow: 0 10px 30px rgba(0,0,0,.15);
}

.table-menu button {
  border: none;

  padding: 12px;

  border-radius: 10px;

  background: #f3f4f6;

  cursor: pointer;

  font-size: 15px;

  transition: .2s;
}

.table-menu button:hover {
  background: #e5e7eb;
}

.table-menu .close {
  background: #ef4444;
  color: white;
  width: 100%;
  height: 2rem;
}

/* =========================
RESERVED FUTURE
ngày mai / còn xa
========================= */

.table.reserved-future .shape {
  border: 2px dashed #a855f7;
}

/* =========================
RESERVED SOON
< 2 tiếng
========================= */

.table.reserved-soon .shape {
  border: 2px solid #a855f7;

  box-shadow: 0 0 10px rgba(168, 85, 247, .4);
}

/* =========================
RESERVED ACTIVE
tới giờ đặt
========================= */

.table.reserved-active .shape {
  background: #a855f7;

  border-color: #a855f7;
}

/* =========================
BADGE
========================= */

.table-info {
  display: flex;

  flex-direction: column;

  align-items: center;

  gap: 2px;
}

.reserve-badge {
  font-size: 10px;

  color: #7e22ce;

  font-weight: 600;
}